@model IEnumerable<StoreFront.DATA.EF.Models.ProductCategory>

@{
    ViewData["Title"] = "Categories";
}

@section Header {
    <!-- Header-->
    <header class="bg-dark py-5 " style="    background-image: url(/assets/d3cbafu-6fdedbb3-cc88-41d7-b403-3c94163b1480.jpg) !important;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Categories</h1>
                @if (User.IsInRole("Admin"))
                {
                    <p class="lead fw-normal text-white-50 mb-0"><a asp-action="Create">Add New Category</a></p>
                }
            </div>
        </div>
    </header>
}

<div class="row">
    <div class="offset-3 col-md-6">
        <div id="MessageContent" class="text-center"></div>
    </div>
</div>

<div class="container">
    <table class="table"id="CategoriesTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="Category-@item.CategoryId">
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a data-ajax="true" data-ajax-confirm="Are you sure you want to delete @item.CategoryName?" data-ajax-failure="deleteFailed" data-ajax-success="deleteConfirmed" data-ajax-method="POST" href="~/ProductCategories/AjaxDelete/@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function deleteConfirmed(response, status, data) {
            //Remove the category's row from the table
            let rowId = "#Category-" + response.id;
            console.log(rowId)
            $("#CategoriesTable").find(rowId).remove();

            //Display a status message
            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");

        }

        function deleteFailed(response, status, data) {

            //Display a status message
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful.</div>");

        }
    </script>
}